<div class="container">
    <a ng-href="#/home">
    <div class="logo"></div>
    </a>

        <div class="container" style="margin-top:50px;">
            <div class="row">

                <div ng-repeat="product in products" class="col-xs-12 col-sm-6 col-md-3">
                    <div class="col-item">
                        <div class="post-img-content">
                            <img src="{{product.imageUrl}}.jpg" class="img-responsive" style="margin-left: 30%" />
                    <span class="post-title">

                    </span>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="price col-md-6">
                                    <h5> {{product.productName}}</h5>
                                </div>
                                <div class="rating hidden-sm col-md-6">
                                    <h5 class="price-text-color">{{product.price| currency}}</h5>
                                </div>
                            </div>
                            <div class="separator clear-left">
                                <p class="btn-details">
                                    <i class="fa fa-list" ></i><a ng-href="#/detail/{{product.id}}">Buy</a></p>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <p class="btn-details">
        <i class="fa fa-list" ></i><a ng-href="#/orders">Orders</a></p>

</div>





