<div class="container">
    <a ng-href="#/home">
        <div class="logo"></div>
    </a>

    <div class="span12">
        <table class="table table-bordered table-striped" ng-grid>
            <th>customerName</th>
            <th>customerSurname</th>
            <th>birthDay</th>
            <th>address</th>
            <th>city</th>
            <th>email</th>
            <th>productId</th>
            <th>productName</th>
            <th>totalPrice</th>
            <th>quantity</th>
            <tr ng-repeat="order in orders">
                <td title="customerName">{{order.customerName}}</td>
                <td title="customerSurname">{{order.customerSurname}}</td>
                <td title="birthDay">{{order.birthDay}}</td>
                <td title="address">{{order.address}}</td>
                <td title="city">{{order.city}}</td>
                <td title="email">{{order.email}}</td>
                <td title="productId">{{order.productId}}</td>
                <td title="productName">{{order.productName}}</td>
                <td title="totalPrice">{{order.totalPrice | currency}}</td>
                <td title="quantity">{{order.quantity}}</td>
            </tr>
        </table>
    </div>

</div>





